$color: lightgreen;


.card {
	transition: 0.5s;
	&:hover, &.selected {
	box-shadow: 1px 1px 1px 1px lightgrey;
	
	}
}

.card-title {
	font-weight: bold;
	text-align: center;
	border: 1px solid grey;
	border-radius: 5px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #0275d8;
	color: white;
}

.card-body {
	background-image: url('/assets/ingredients/reine.jpg');
}

#prixHT {
	border: 1px solid grey;
	background-color: white;
	width: 60%;
	text-align: center;
	font-size: 12px;
}
#prixTTC {
	border: 1px solid grey;
	background-color: white;
	width: 60%;
	text-align: center;
	font-size: 12px;
}