input {
	padding : 8px;
	background-color: #0275d8;
	color: white;
}

#id {
	font-weight: bold;
}

#prix {
	font-weight: bold;
}

input {
	font-weight: bold;
}

#ouioui {
	text-align: center;
	border: 1px solid #dee0e0;
	border-radius: 10px;
	background-image: url('/assets/ingredients/reine.jpg.');
}

